@media only screen and (max-width: 640px) {
    .cardsContainer {
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        margin-top: 0;
    }

    .containerMain {
        margin-left: 0;
    }

    .cabecalho {
        text-align: center;
    }
}